*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* ===============================
COLORS
=============================== */

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

/* ===============================
TYPOGRAPHY
=============================== */

body,
button {
    font-weight: 400;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

h1,
button {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

button {
    font-size: 12px;
    line-height: 14px;
}

.social__icons {
    font-size: 12px;
}

.fa-instagram {
    font-size: 15px;
}

@media (min-width: 1200px) {
    body,
    button  {
        font-size: 18px;
        line-height: 27px;
    }

    h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
    }

    .social__icons {
        font-size: 18px;
    }

    .fa-instagram {
        font-size: 21px;
    }
}

/* ===============================
GENERAL LAYOUT
=============================== */

.body {
    background: var(--violet) url("../images/bg-desktop.svg") no-repeat top center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.main {
    padding: 38px 35px 40px 36px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    margin-bottom: 54px;
    align-self: flex-start;
}

.logo {
    max-width: 120px;
}

.hero-img-container {
    margin-bottom: 60px;
}

.hero-content {
    margin-bottom: 64px;
}

.hero-content__title {
    margin-bottom: 16px;
}

.hero-content__text {
    margin-bottom: 24px;
}

.hero-content__btn {
    padding: 11px 75px;
    border-radius: 50px;
    border: 0;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
    transition: color, background 250ms;
}

.hero-content__btn:hover,
.hero-content__btn:focus {
    background: var(--soft-magenta);
    color: #fff;
    cursor: pointer;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    min-width: 104px;
}

.social__icons-icon {
    border: 1px solid #fff;
    border-radius: 30px;
    min-width: 28px;
    min-height: 28px;
}

.social__icons-icon:hover,
.social__icons-icon:focus {
    color: var(--soft-magenta);
    border-color: var(--soft-magenta);
    cursor: pointer;
}

.fab {
    transform: translateY(2px);
}

.attribution {
    font-size: 11px; text-align: center;
    opacity: .5;
    transform: translateY(-20px);
}

.attribution a {
    color: inherit;
}


@media (max-width: 375px) {
    .body {
        background: var(--violet) url("../images/bg-mobile.svg") no-repeat top center;
    }
}

@media (min-width: 720px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 100vh;
        margin: auto;
    }

    .logo-container {
        width: 100%;
    }

    .logo {
        max-width: 160px;
    }

    .hero-img-container {
        width: 50%;
    }

    .hero-content {
        width: 45%;
        text-align: initial;
    }

    .social-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .social__icons {
        align-self: flex-end;
    }
}

@media (min-width: 1200px) {
    .body {
        background-position: initial;
        background-size: initial;
    }
    .main {
        padding: 64px 80px 40px 80px;
    }

    .container {
        max-width: 1440px;
    }

    .logo-container {
        margin-bottom: 80px;
    }

    .logo {
        min-width: 200px;
    }

    .hero-img-container {
        margin-bottom: 0;
        width: 55%;
    }

    .hero-img {
        min-width: 100%;
    }

    .hero-content {
        margin-bottom: 27px;
        width: 40%;
    }

    .hero-content__title,
    .hero-content__btn {
        margin-bottom: 24px;
    }

    .hero-content__btn {
        padding: 16px 64px;
    }

    .social__icons {
        min-width: 152px;
    }

    .social__icons-icon {
        min-width: 40px;
        min-height: 40px;
    }

    .fab {
        transform: translateY(6px);
    }
}

@media (min-width: 1440px) {
    .container {
        min-height: initial;
    }

    .hero-content {
        transform: translateY(-35px);
    }
}
